@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 224, 224, 224;
  --background-rgb: 5, 5, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* スクロールバーのカスタマイズ (サイバー風) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0f14;
}
::-webkit-scrollbar-thumb {
  background: #1a1f26;
  border-radius: 0px;
  border: 1px solid #00f0ff40;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
  box-shadow: 0 0 5px #00f0ff;
}

/* 選択範囲 */
::selection {
  background: #00f0ff40;
  color: #fff;
}